{% extends 'frontoffice/base_front.html.twig' %}

{% block title %}{{ parent() }} Connexion{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="card shadow mb-4 border-top-primary mt-5 card-auth">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary text-center">Authentifications</h6>
            </div>
            <div class="card-body">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                           class="form-control" required autofocus>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword"
                           class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <button class="btn btn-sm btn-primary mt-2" type="submit">
                        Se connecter
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
