<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}GesSal | {% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Application de gestion de salaire">
    <meta name="author" content="RABARISON Lewis">
    <meta name="robot" content="no index,no follow">
    <meta charset="UTF-8">
    <link rel="icon" href="{{ asset('img/logo.PNG') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body id="page-top">
{% block body %}
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- contenu principale -->
            <div id="content">
                <!-- Menu -->
                {% if app.user %}
                    {{ include('partials/_navbar.html.twig') }}
                {% endif %}
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
