{% block navbar %}
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3 shadow-none">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#" width="100" height="100">
            <img src="{{ asset('img/logo.PNG') }}" alt="logo">
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                        {{ app.user ? app.user.fullname : "" }}
                    </span>
                    <img class="img-profile rounded-circle"
                         src="{{ asset('img/undraw_profile.svg') }}">
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="{{ path('app_logout') }}">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Déconnexion
                    </a>
                </div>
            </li>
        </ul>
    </nav>
{% endblock %}