{% block pagination %}
    {% if page > 1 %}
        {% set previous = page - 1 %}
        <a href="?page=1" data-id="1" class="badge badge-primary text-white page-item py-1 px-2 shadow-none">
            Premier page
        </a>
        <a href="?page={{ previous }}" data-id="{{ previous }}"
           class="badge badge-secondary text-white page-item py-1 px-2 shadow-none {{ page == 1 ? 'd-none' : null }}">
            <i class="fas fa-arrow-left"></i>
        </a>
    {% endif %}

    {% for item in 1..totalPages %}
        {% set active_class = "" %}
        {% if item == page %}
            {% set active_class = "active" %}
        {% endif %}
        <a href="?page={{ item }}" class="bg-gray  {{ active_class }} badge text-white page-item py-1 px-2 shadow-none"
           data-id="{{ item }}">
            {{ item }}
        </a>
    {% endfor %}

    {% if page < totalPages %}
        {% set next = page + 1 %}
        <a href="?page={{ next }}" data-id="{{ next }}" class="page-item">
            <i class="fas fa-arrow-right"></i>
        </a>
        <a href="?page={{ totalPages }}" data-id="{{ totalPages }}"
           class="badge badge-primary text-white page-item py-1 px-2 shadow-none {{ page == totalPages ? 'd-none' : null }}">
            Dernier page
        </a>
    {% endif %}
{% endblock %}
