{% block sidebar %}
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex justify-content-center" href="index.html">
            <div class="sidebar-brand-text mx-3">
                <img src="{{ asset('img/logo.PNG') }}" alt="logo"> Salariés
            </div>
        </a>
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('admin_dashboard_index') }}">
                <i class="fas fa-chart-area"></i>
                <span>Tableau de bord</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_employee_index') }}">
                <i class="fas fa-user"></i>
                <span>Salariés</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_contract_type_index') }}">
                <i class="fas fa-file-contract"></i>
                <span>Types de contrats</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_wage_index') }}">
                <i class="fas fa-money-check-alt"></i>
                <span>Salaires</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_import_wage_list') }}">
                <i class="fas fa-file-csv"></i>
                <span>Liste des importations de salaires</span></a>
        </li>
        <!-- Toggle du bar à  gauche -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
{% endblock %}