{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} Importation de salaire{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des importations de salaires</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive-sm">
                <table class="table table-striped table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Fichier</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for wageCsvFile in wageCsvFiles %}
                        <tr>
                            <td>{{ wageCsvFile.file }}</td>
                            <td class="d-flex">
                                <a href="{{ asset('data/' ~ wageCsvFile.file) }}"
                                   data-toggle="tooltip" data-placement="left"
                                   title="Voir le fichier">
                                    <i class="fas fa-file-csv"></i>
                                </a>
                                {% if not wageCsvFile.isAlreadyImported %}
                                    <a href="{{ path('admin_import_wage', {'id': wageCsvFile.id}) }}"
                                       data-toggle="tooltip" data-placement="left"
                                       class="text-success"
                                       title="Importer">
                                        <i class="fas fa-file-import"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr class="d-flex justify-content-center">
                            <td colspan="2">Aucun fichier</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

