@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('../styles/sb-admin-2.min.css');
@import "~select2";

.bg-gradient-primary {
    background: #222f50 !important;
}

.border-top-primary {
    border-top: 0.25rem solid #4e73df!important;
}

.bg-gray {
    background: #bbb8b8;
    color: #000;

    &.active.badge {
        background: #787777;
    }
}

/********** table *****************/
table {
    th, td {
        font-size: 12px !important;
    }
}

/********** form ******************/
.form-control {
    box-shadow: none !important;
    border-radius: 0 !important;

    &:focus {
        border: 1px solid #222f50 !important;
    }
}

.card-auth {
    width: 25% !important;
}

/********** responsive ***********/
@media screen and (max-width: 578px) {
    .card-auth {
        width: 100% !important;
    }
    .form-filter-wage, .form-filter-employee {
        display: flex;
        flex-direction: column;
    }
    .btn-filter-wage, .btn-filter-employee {
        margin-top: 3%;
    }
}




