{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-sm btn-{{ bg_button }} shadow-none rounded-0">{{ button_label }}</button>
    <a href="{{ path('admin_contract_type_index') }}"
       class="btn btn-sm btn-secondary shadow-none rounded-0">
        Annuler
    </a>
{{ form_end(form) }}
