{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} Ajouter un type de contrat{% endblock %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Ajouter un type de contrat</h1>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            {{ include("backoffice/contract_type/_form.html.twig",
                {"button_label": "Enregistrer", "bg_button": "primary"})
            }}
        </div>
    </div>
{% endblock %}