{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} Type de contrat{% endblock %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a href="{{ path('admin_contract_type_add') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-plus fa-sm text-white-50"></i> Nouveau type de contrat
        </a>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des types de contrats</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive-sm">
                <table class="table table-striped table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contractType in contractTypes %}
                        <tr>
                            <td>{{ contractType.label }}</td>
                            <td class="d-flex">
                                <a href="{{ path('admin_contract_type_edit', {'id': contractType.id}) }}"
                                   class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                                    <i class="fas fa-edit fa-sm text-white-50"></i>
                                </a>
                                <form method="post"
                                      action="{{ path('admin_contract_type_delete', {'id': contractType.id}) }}"
                                      onsubmit="return confirm('Vous voulez vraiment supprimer ce type de contrat ?');"
                                >
                                    <input type="hidden" name="_token"
                                           value="{{ csrf_token('delete' ~ contractType.id) }}">
                                    <button class="btn btn-sm btn-danger shadow-sm mx-2">
                                        <i class="fas fa-trash-alt fa-sm text-white-50"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="d-flex justify-content-center">
                            <td colspan="2">Aucun type de contrat</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

