{% for wage in wages %}
    <tr>
        <td>{{ wage.employee.lastname }}</td>
        <td>{{ wage.employee.firstname }}</td>
        <td>{{ wage.employee.matricule }}</td>
        <td>{{ wage.employee.hiringDateAt ? wage.employee.hiringDateAt|date("d-m-Y") : '' }}</td>
        <td>{{ wage.employee.dateOfBirthAt ? wage.employee.dateOfBirthAt|date("d-m-Y") : '' }}</td>
        <td>{{ wage.employee.phonenumber }}</td>
        <td>{{ wage.employee.contractType is defined ? wage.employee.contractType.label : '' }}</td>
        <td>{{ wage.amount }}</td>
        <td>{{ wage.receptionDate ? formatMonth(wage.receptionDate|date('M')) : '' }}</td>
    </tr>
{% else %}
    <tr align="center">
        <td colspan="10">Aucune liste de salaire</td>
    </tr>
{% endfor %}