{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} Salaires{% endblock %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    </div>
    <form class="d-flex align-items-center mb-3 form-filter-wage"
          action="{{ path('filter_wage') }}" method="post"
          id="filter-wage">
        <select class="selectTwo form-control mt-2" name="month_wage_filter">
            <option selected>Mois</option>
            {% for key, monthWage in allMonth() %}
                <option value="{{ key }}">{{ monthWage }}</option>
            {% endfor %}
        </select>&nbsp;
        <select class="selectTwo form-control my-2" name="year_wage_filter">
            <option selected>Année</option>
            {% for yearWage in yearWages %}
                <option value="{{ yearWage.year }}">
                    {{ yearWage.year }}
                </option>
            {% endfor %}
        </select>&nbsp;
        <select class="selectTwo form-control lastname-filter mb-2" name="employee_wage_filter">
            <option selected>Salarié</option>
            {% for employeeNotPaginated in employeesNotPaginated %}
                <option value="{{ employeeNotPaginated.matricule }}">
                    {{ employeeNotPaginated.firstname }} {{ employeeNotPaginated.lastname }}
                </option>
            {% endfor %}
        </select>&nbsp;
        <div class="">
            <button type="submit" class="btn btn-sm btn-primary btn-filter-wage px-5 rounded shadow-none">Filtrer
            </button>
        </div>
    </form>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des salaires</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Matricule</th>
                        <th>Date d'embauche</th>
                        <th>Date de naissance</th>
                        <th>Téléphone</th>
                        <th>Type de contrat</th>
                        <th>Dernier salaire reçu</th>
                        <th>Mois du dernier salaire reçu</th>
                    </tr>
                    </thead>
                    <tbody class="content">
                    {{ include('backoffice/wage/_list_wage.html.twig') }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
        <script src="{{ asset('build/scripts/filterWage.js') }}"></script>
{% endblock %}

