{{ form_start(form, {attr: {"novalidate": true}}) }}
    <div class="row">
        <div class="col">{{ form_row(form.matricule) }}</div>
        <div class="col">{{ form_row(form.email) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(form.lastname) }}</div>
        <div class="col">{{ form_row(form.firstname) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(form.phoneNumber) }}</div>
        <div class="col">{{ form_row(form.dateOfBirthAt) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(form.photoToUpload) }}</div>
        <div class="col">{{ form_row(form.wageAmount) }}</div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{ form_row(form.contractType) }}
        </div>
    </div>
    <button type="submit" class="btn btn-sm btn-primary shadow-none rounded-0">Enregistrer</button>
    <a href="{{ path('admin_employee_index') }}" class="btn btn-sm btn-secondary shadow-none rounded-0">Annuler</a>
{{ form_end(form) }}