{% for employee in employees %}
    <tr>
        <td>
            {% set photo = employee.photo
                ? absolute_url(asset('uploads/employees/' ~ employee.photo))
                : absolute_url(asset('img/no-image.png'))
            %}
            <img src="{{ photo }}"
                 alt="{{ employee.firstname }}"
                 class="img-fluid rounded-circle" width="30" height="30"
            >
        </td>
        <td>{{ employee.matricule }}</td>
        <td>{{ employee.lastname }}</td>
        <td>{{ employee.firstname }}</td>
        <td>{{ employee.dateOfBirthAt|date("d-m-Y") }}</td>
        <td>{{ employee.hiringDateAt|date("d-m-Y") }}</td>
        <td>{{ employee.phonenumber }}</td>
        <td>{{ employee.contractType is defined ? employee.contractType.label : '' }}</td>
        <td>{{ employee.wageAmount }}</td>
        <td>
            <a href="{{ path('admin_employee_edit', {'id': employee.id}) }}"
               class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
               data-toggle="tooltip" data-placement="left" title="Editer">
                <i class="fas fa-edit fa-sm text-white-50"></i>
            </a>
            <a href="{{ path('admin_employee_delete', {'id': employee.id}) }}"
               class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"
               onclick="return confirm('Vous voulez vraiment supprimer ce salarié')"
               data-toggle="tooltip" data-placement="right" title="Supprimer">
                <i class="fas fa-trash-alt fa-sm text-white-50"></i>
            </a>
        </td>
    </tr>
{% else %}
    <tr align="center">
        <td colspan="10">Aucun salarié</td>
    </tr>
{% endfor %}