{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} Modifier un salarié{% endblock %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Modifier un salarié</h1>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            {% include "backoffice/employee/_form.html.twig" with {form : form} %}
        </div>
    </div>
{% endblock %}