{% extends 'backoffice/base_admin.html.twig' %}

{% block title %}{{ parent() }} Salariés{% endblock %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a href="{{ path('admin_employee_add') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-plus fa-sm text-white-50"></i>
            Nouvel salarié
        </a>
        <a href="{{ path('export_csv_wage') }}"
           class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm btn-export-csv-wage">
            <i class="fas fa-file-export fa-sm text-white-50"></i>
            Exporter les salaires en csv
        </a>
    </div>
    <form class="d-flex align-items-center mb-3 form-filter-employee"
          action="{{ path('filter_employee') }}" method="post" id="filter-employee">
        <select class="selectTwo form-control register-filter mt-2" name="register_filter">
            <option selected>Matricule</option>
            {% for employeeNotPaginated in employeesNotPaginated %}
                <option value="{{ employeeNotPaginated.matricule }}">{{ employeeNotPaginated.matricule }}</option>
            {% endfor %}
        </select>&nbsp;
        <select class="selectTwo form-control contract-type-filter my-2" name="contract_type_filter">
            <option selected>Type de contrat</option>
            {% for contractType in contractTypes %}
                <option value="{{contractType.label }}">
                    {{ contractType.label }}
                </option>
            {% endfor %}
        </select>&nbsp;
        <select class="selectTwo form-control lastname-filter mb-2" name="lastname_filter">
            <option selected>Nom</option>
            {% for employeeNotPaginated in employeesNotPaginated %}
                <option value="{{ employeeNotPaginated.lastname }}">{{ employeeNotPaginated.lastname }}</option>
            {% endfor %}
        </select>&nbsp;
        <select class="selectTwo form-control firstname-filter" name="firstname_filter">
            <option selected>Prénom</option>
            {% for employeeNotPaginated in employeesNotPaginated %}
                <option value="{{ employeeNotPaginated.firstname }}">{{ employeeNotPaginated.firstname }}</option>
            {% endfor %}
        </select>&nbsp;
        <div class="">
            <button type="submit"
                    class="btn btn-sm btn-primary btn-filter-employee px-5 rounded shadow-none">
                Filtrer
            </button>
        </div>
    </form>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des salariés</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Matricule</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de naissance</th>
                        <th>Date d'embauche</th>
                        <th>Téléphone</th>
                        <th>Type de contrat</th>
                        <th>Salaire</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody class="content">
                        {{ include('backoffice/employee/_list_employee.html.twig') }}
                    </tbody>
                </table>
                {% if totalPages > 0 %}
                    <div class="d-flex justify-content-end">
                        <div class="pagination-customized">
                            {% include "partials/_pagination.html.twig" with {page : page, totalPages:totalPages} %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/scripts/filterEmployee.js') }}"></script>
{% endblock %}

