{% extends 'frontoffice/base_front.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="alert bg-danger text-white mt-5">
            <h1>Oups ! La page que vous recherchez n'existe pas !</h1>
        </div><br>
        <a href="{{ path('app_login') }}" class="btn btn-sm btn-primary">Se connecter</a>
    </div>
{% endblock %}