{% extends 'base.html.twig' %}

{% block title %}error403{% endblock %}

{% block body %}

    <div class="container">
        <div class="alert bg-danger text-white mt-5">
            <p>Vous n'avez pas le droit d'accéder à cette page</p>
        </div>
        <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
    </div>

{% endblock %}