{% extends 'frontoffice/base_front.html.twig' %}

{% block title %}{{ parent() }} Vos salaires{% endblock %}

{% block content %}
    <div class="card shadow mb-4 border-top-primary">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste de vos salaires</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive-sm">
                <table class="table table-striped table-sm" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Montant</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for wage in wages %}
                        <tr>
                            <td>{{ wage.amount | number_format(0, '', ' ') }}</td>
                            <td>{{ wage.receptionDate | date('d-m-Y') }}</td>
                            <td>
                                <a href="{{ path('wage_show', {'id': wage.id}) }}"
                                   class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"
                                   data-toggle="tooltip" data-placement="left" title="Consulter">
                                    <i class="fas fa-eye fa-sm text-white-50"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="d-flex justify-content-center">
                            <td colspan="3">Vous n'avez pas encore recu de salaire</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
