{% extends 'frontoffice/base_front.html.twig' %}

{% block title %}{{ parent() }} Détail de vos salaires{% endblock %}

{% block content %}
    <a href="{{ path('wage_index') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-arrow-left fa-sm text-white-50"></i> Retourner
    </a>
    <div class="card shadow mb-4 border-top-primary mt-2">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Détail de vos salaires</h6>
        </div>
        <div class="card-body">
            <div class="mt-1">
                <span>
                    <b>Matricule :</b> {{ wage.employee is defined ? wage.employee.matricule : "" }}
                </span>
            </div>
            <div class="mt-1">
                <span>
                    <b>Nom :</b> {{ wage.employee is defined ? wage.employee.firstname : "" }}
                    {{ wage.employee is defined ? wage.employee.lastname : "" }}
                </span>
            </div>
            <div class="mt-1">
                <span>
                    <b>Date de naissance :</b> {{ wage.employee is defined ? wage.employee.dateOfBirthAt|date("d/m/Y") : "" }}
                </span>
            </div>
            <div class="mt-1">
                <span>
                    <b>Date d'embauche :</b> {{ wage.employee is defined ? wage.employee.hiringDateAt|date("d/m/Y") : "" }}
                </span>
            </div>
            <div class="mt-1">
                <span>
                    <b>Téléphone :</b> {{ wage.employee is defined ? wage.employee.phonenumber }}
                </span>
            </div>
            <div class="mt-1">
                <span>
                    <b>Type de contrat :</b> {{ wage.employee.contractType is defined ? wage.employee.contractType.label }}
                </span>
            </div>
            <div class="mt-1">
                <span>
                    <b>Dernier salaire reçu  :</b> {{ wage.amount|number_format(0, '',' ') }}
                </span>
            </div>
            <div class="mt-1">
                <span>
                    <b>Mois du dernier salaire reçu :</b> {{ formatMonth(wage.receptionDate|date('M')) }}
                </span>
            </div>
        </div>
    </div>
{% endblock %}
